@using OneByMartinDoller.Shared.Model;
@model Dictionary<FloorTypes, List<DGWViewModel>>

@{
    string spreadSheetId = ViewBag.SpreadSheetId as string;
    string googleSheetUrl = $"https://docs.google.com/spreadsheets/d/{spreadSheetId}";
}
<p>
    <a href="@googleSheetUrl" target="_blank">Open Google Sheet </a>
</p>

@foreach (var entry in Model)
{
    <h2>@entry.Key</h2> <!-- Display the floor type -->
    <ul>
        @foreach (var room in entry.Value)
        {
            <li>
                <h3>@room.RoomName</h3>
                <p>Floor Type: @room.FloorType</p> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cuirts</th>
                            <th>Name</th>                            
                            <th>Cuirt Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var circuit in room.Circuits)
                        {
                            <tr>
                                <td>@circuit.Cuirts</td>
                                <td>@circuit.Name</td> 
                                <td>
                                    <ul>
                                        @foreach (var item in circuit.CuirtsItems)
                                        {
                                            <li>@item.Key.MainBlock: @item.Value</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
    </ul>
}

